extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Process List [Nº de Processos: #{plist.length}] #[a.w3-btn.w3-round.w3-grey(href="/processos/registo") New ] #[a.w3-btn.w3-round.w3-light-green(href="/processos/nome") Ord por nome ] #[a.w3-btn.w3-round.w3-light-green(href="/processos/lugar") Ord por lugar ] #[a.w3-btn.w3-round.w3-light-green(href="/processos/data") Ord por data ] #[a.w3-btn.w3-round.w3-light-green(href="/processos") Normal ]
    .w3-container
      table.w3-table-all
        tr
          th Id
          th Ligações
          th ScopeContent
          th Related Material 
          th Actions
        
        each p in plist
          tr
            td
              a(href="/processos/"+p._id)= p._id
            td 
              each l in p.ligacoes
                a(href="/processos/"+l)= l+" "
            td= p.ScopeContent
            td= p.RelatedMaterial
            td
              button.w3-btn.w3-round.w3-indigo.w3-margin-right 
                a(href="/processos/"+p._id+"/posts") See the posts
              button.w3-btn.w3-round.w3-indigo.w3-margin-right  
                a(href="/processos/"+p._id+"/posts/add") Add a new post
              
    footer.w3-container.w3-teal
      h5 Generated for TP_EngWeb2023 in #{d}
    