extends layout

block content
	.w3-card-4
		header.w3-container.w3-teal
			h1 #[b Inquirição de Génere - Trabalho Prático de EngWeb2023]
				.w3-cell-row
					.w3-cell
						h2 Registos de Inquirição de Génere
					.w3-cell(style="width:16%") 
						h3
							a(href="/home")
								button.w3-btn.w3-pale-red.w3-border.w3-border-black.w3-hover-red.w3-round
									//i.fa.fa-regular.fa-arrow-left-to-line(style="color: #000000;margin-right: 30px;")
									.w3-cell-row
										.w3-cell
											i.fa.fa-solid.fa-arrow-left(style="color: #000000;")
										.w3-cell(style="width:84%")
											h3 &nbsp;&nbsp; #[b Voltar ao Início]
		.w3-panel.w3-leftbar.w3-border-blue.w3-pale-blue
			h3 #[b Nº de Processos:] #{plist.length} 
			h1 Process List [Nº de Processos: #{plist.length}] #[a.w3-btn.w3-round.w3-grey(href="/processos/registo") New ] #[a.w3-btn.w3-round.w3-light-green(href="/nome") Ord por nome ] #[a.w3-btn.w3-round.w3-light-green(href="/lugar") Ord por lugar ] #[a.w3-btn.w3-round.w3-light-green(href="/data") Ord por data ] #[a.w3-btn.w3-round.w3-light-green(href="/retrieveAll") Normal ]
		.w3-panel
			.w3-cell-row
				.w3-cell(style="width:93%")
					select.w3-select.w3-border.w3-round-xxlarge(name="order")
						option("") &#8226; Ordene por...
							option(value="/retrieveAll") &#9033; Default (Ordem Inicial)
							option(value="/nome") &#9786; Nome (Índice Antroponímico)
							option(value="/lugar") &#127757; Lugar (Índice Toponímico)
							option(value="/data") &#128467; Data (Índice Cronológico)
				.w3-cell(style="width:2%")
					h3 &nbsp;&nbsp;
				.w3-cell
					button.w3-btn.w3-pale-blue.w3-mb-2.w3-hover-blue.w3-border.w3-border-black.w3-round-xxlarge(onclick="getOrder()" name="apply")
						.w3-cell-row
							.w3-cell
								i.fa.fa-solid.fa-magnifying-glass
							.w3-cell(style="width:84%")
								h3 &nbsp;&nbsp; #[b Aplicar]

		.w3-container
			table.w3-table-all
				tr
					th Id
					th Ligações
					th ScopeContent
					th Related Material 
					th Actions
				
				each p in plist
					tr
						td
							a(href="/processos/"+p._id)= p._id
						td 
							each l in p.ligacoes
								a(href="/processos/"+l)= l+"|"
						td= p.ScopeContent
						td= p.RelatedMaterial
						td
							button.w3-btn.w3-round.w3-indigo.w3-margin-right 
								a(href="/processos/"+p._id+"/posts") See the posts
							button.w3-btn.w3-round.w3-indigo.w3-margin-right  
								a(href="/processos/"+p._id+"/posts/add") Add a new post
							button.w3-btn.w3-round.w3-indigo.w3-margin-right  
								a(href="/processos/"+p._id+"/addLigacoes") Add a new ligação
		.w3-bar
			a.w3-button(href= tipo + `?page=${prevPage}`) &laquo;
			a.w3-button(href=tipo +`?page=${nextPage}`) &raquo;
				footer.w3-container.w3-teal.w3-center
						h5 Gonçalo Braga, João Loureiro e Simão Barroso | Engenharia Web 2023 - Universidade do Minho
						h5 Generated for TP_EngWeb2023 in #{d}
