extends layout

block append head
    title Posts de #{p._id}

block content
    .w3-card-4
        header.w3-container.w3-teal
            .w3-bar.w3-border-bottom
                .w3-bar-item
                    h3 #[b Inquirição de Génere - Trabalho Prático de EngWeb2023]
                a.w3-bar-item.w3-button(href="/home" style="position:relative; top:5px;")
                    .w3-cell-row
                        .w3-cell
                            i.fa.fa-solid.fa-house(style="color: #000000;")
                        .w3-cell(style="width:80%")
                            h6 #[b Início]
                a.w3-bar-item.w3-button(href="/retrieveAll" style="position:relative; top:5px;")
                    .w3-cell-row
                        .w3-cell
                            i.fa.fa-solid.fa-folder-open(style="color: #000000;")
                        .w3-cell(style="width:84%")
                            h6 #[b Registos]
                if type == "Admin"
                    a.w3-bar-item.w3-button(href="/processos/registo" style="position:relative; top:5px;")
                        .w3-cell-row
                            .w3-cell
                                i.fa.fa-solid.fa-file-circle-plus(style="color: #000000;")
                            .w3-cell(style="width:84%")
                                h6 &nbsp; #[b Adicionar Registo]
                input.w3-bar-item.w3-input.w3-border(type="text" id="pesquisa_rapida" name="quickSearch" style="position:relative; left:10px; top:15px;" placeholder="Pesquisa Rápida (ENTER)")
            h3 &nbsp;&nbsp;&nbsp;#[b Posts do Processo nº #{p._id}]        
        .w3-panel.w3-leftbar.w3-border-blue.w3-pale-blue
            .w3-cell-row
                .w3-cell(style="width:90%")
                    h3 #[b Nº de Posts:] #{p.posts.length} 
                    //h1 Process List [Nº de Processos: #{plist.length}] #[a.w3-btn.w3-round.w3-grey(href="/processos/registo") New ] #[a.w3-btn.w3-round.w3-light-green(href="/nome") Ord por nome ] #[a.w3-btn.w3-round.w3-light-green(href="/lugar") Ord por lugar ] #[a.w3-btn.w3-round.w3-light-green(href="/data") Ord por data ] #[a.w3-btn.w3-round.w3-light-green(href="/retrieveAll") Normal ]
                .w3-cell(style="position:relative; left:-10px;")
                    a(href="/processos/"+p._id+"/posts/add")
                        button.w3-btn.w3-pale-green.w3-border.w3-border-black.w3-hover-green.w3-round
                            .w3-cell-row
                                .w3-cell
                                    i.fa.fa-solid.fa-circle-plus.fa-xl(style="color: #000000;")
                                .w3-cell(style="width:84%")
                                    h4 &nbsp;&nbsp; #[b Adicionar Post]
    
    each post in p.posts
        .w3-panel
            .w3-card-4
                header.w3-container.w3-pale-yellow
                    .w3-cell-row
                        .w3-cell(style="width:77%")
                            .w3-large(style="vertical-align:bottom;")
                                .w3-cell-row
                                    .w3-cell
                                        i.fa.fa-solid.fa-thumbtack.fa-lg(style="color: #000000;")
                                    .w3-cell(style="width:97%")
                                        h3 #[b #{post.Title}]
                        .w3-cell.w3-center.w3-border-left(style="width:9%")
                            h7 #[b Processo:] #{post._id}
                        .w3-cell.w3-border-left.w3-center(style="width:15%;")
                            .w3-medium(style="position:relative; top:-7px;")
                                h7 #[b #{post.Type}]
                .w3-container
                    h5 #{post.Description}
                    lb
                    .w3-panel.w3-border-top
                        .w3-cell-row(style="position:relative; top:10px;")
                            .w3-cell(style="width:14%")
                                a(href="/posts/seeComments/"+p._id+"/"+post._id)
                                            button.w3-btn.w3-light-blue.w3-border.w3-border-black.w3-hover-indigo.w3-round.w3-round-xlarge.w3-small
                                                .w3-cell-row
                                                    .w3-cell
                                                        i.fa.fa-solid.fa-comments.fa-lg(style="color: #000000;")
                                                    .w3-cell(style="width:84%")
                                                        h6 &nbsp;&nbsp; #[b Ver Comentários]
                            .w3-cell(style="width:17%")
                                a(href="/posts/addComments/"+p._id+"/"+post._id)
                                            button.w3-btn.w3-light-blue.w3-border.w3-border-black.w3-hover-indigo.w3-round.w3-round-xlarge.w3-small
                                                .w3-cell-row
                                                    .w3-cell
                                                        i.fa.fa-solid.fa-comment-medical.fa-lg(style="color: #000000;")
                                                    .w3-cell(style="width:84%")
                                                        h6 &nbsp;&nbsp; #[b Adicionar Comentário]
                            .w3-cell(style="width:70%")
                                a(href="/posts/deletePost/"+p._id+"/"+post._id)
                                            button.w3-btn.w3-pale-red.w3-border.w3-border-black.w3-hover-red.w3-round.w3-round-xlarge.w3-small
                                                .w3-cell-row
                                                    .w3-cell
                                                        i.fa.fa-solid.fa-trash.fa-lg(style="color: #000000;")
                                                    .w3-cell(style="width:84%")
                                                        h6 &nbsp;&nbsp; #[b Apagar Post]
              
    footer.w3-container.w3-teal.w3-center
        h5 Gonçalo Braga, João Loureiro e Simão Barroso | Engenharia Web 2023 - Universidade do Minho
        h5 Generated for TP_EngWeb2023 in #{d}
    script.
        //pesquisa_rapida
        document.getElementById('pesquisa_rapida').addEventListener('keyup', function(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                var input = document.getElementById('pesquisa_rapida');
                var p = input.value;
                window.location.href = '/pesquisaRapida/' + p;
            }
        });
