extends layout 

block content 
    .w3-card-4
        header.w3-container.w3-purple
            h2 Process Edit Form 
    
        form.w3-container(method="POST")
            fieldset
                legend MetaData
                label Id
                input.w3-input.w3-round(type="text" name="_id" readonly value=p._id)
                label DescriptionLevel
                input.w3-input.w3-round(type="text" name="DescriptionLevel" value=p.DescriptionLevel)
                label EntityType
                input.w3-input.w3-round(type="text" name="EntityType" value=p.EntityType)
                label CompleteUnitId
                input.w3-input.w3-round(type="text" name="CompleteUnitId" value=p.CompleteUnitId)
                label UnitId 
                input.w3-input.w3-round(type="text" name="UnitId" value=p.UnitId)
                label RepositoryCode
                input.w3-input.w3-round(type="text" name="RepositoryCode" value=p.RepositoryCode)
                label CountryCode
                input.w3-input.w3-round(type="text" name="CountryCode" value=p.CountryCode)
                label UnitTitleType
                input.w3-input.w3-round(type="text" name="UnitTitleType" value=p.UnitTitleType)
                label UnitTitle
                input.w3-input.w3-round(type="text" name="UnitTitle" value=p.UnitTitle)
                label AlternativeTitle
                input.w3-input.w3-round(type="text" name="AlternativeTitle" value=p.AlternativeTitle)
                label NormalizedFormsName
                input.w3-input.w3-round(type="text" name="NormalizedFormsName" value=p.NormalizedFormsName)
                label OtherFormsName
                input.w3-input.w3-round(type="text" name="OtherFormsName" value=p.OtherFormsName)
                label UnitDateInitial
                input.w3-input.w3-round(type="text" name="UnitDateInitial"  value=p.UnitDateInitial)
                label UnitDateFinal
                input.w3-input.w3-round(type="text" name="UnitDateFinal" value=p.UnitDateFinal)
                label UnitDateInitialCertainty
                input.w3-input.w3-round(type="text" name="UnitDateInitialCertainty" value=p.UnitDateInitialCertainty)
                label UnitDateFinalCertainty
                input.w3-input.w3-round(type="text" name="UnitDateFinalCertainty" value=p.UnitDateFinalCertainty)
                label AllowUnitDatesInference
                input.w3-input.w3-round(type="text" name="AllowUnitDatesInference" value=p.AllowUnitDatesInference)
                label AccumulationDates
                input.w3-input.w3-round(type="text" name="AccumulationDates" value=p.AccumulationDates)
                label UnitDateBulk
                input.w3-input.w3-round(type="text" name="UnitDateBulk" value=p.UnitDateBulk)
                label UnitDateNotes
                input.w3-input.w3-round(type="text" name="UnitDateNotes" value=p.UnitDateNotes)
                label Dimensions
                input.w3-input.w3-round(type="text" name="Dimensions" value=p.Dimensions)
                label AllowExtentsInference
                input.w3-input.w3-round(type="text" name="AllowExtentsInference" value=p.AllowExtentsInference)
                label Repository
                input.w3-input.w3-round(type="text" name="Repository" value=p.Repository)
                label Producer
                input.w3-input.w3-round(type="text" name="Producer" value=p.Producer)
                label Author
                input.w3-input.w3-round(type="text" name="Author" value=p.Author)
                label MaterialAuthor
                input.w3-input.w3-round(type="text" name="MaterialAuthor" value=p.MaterialAuthor)
                label Contributor
                input.w3-input.w3-round(type="text" name="Contributor" value=p.Contributor)
                label Recipient
                input.w3-input.w3-round(type="text" name="Recipient" value=p.Recipient)
                label BiogHist
                input.w3-input.w3-round(type="text" name="BiogHist" value=p.BiogHist)
                label GeogName
                input.w3-input.w3-round(type="text" name="GeogName" value=p.GeogName)
                label LegalStatus
                input.w3-input.w3-round(type="text" name="LegalStatus" value=p.LegalStatus)
                label Functions
                input.w3-input.w3-round(type="text" name="Functions" value=p.Functions)
                label Authorities
                input.w3-input.w3-round(type="text" name="Authorities" value=p.Authorities)
                label InternalStructure
                input.w3-input.w3-round(type="text" name="InternalStructure" value=p.InternalStructure)
                label GeneralContext
                input.w3-input.w3-round(type="text" name="GeneralContext" value=p.GeneralContext)
                label CustodHist
                input.w3-input.w3-round(type="text" name="CustodHist"  value=p.CustodHist)
                label AcqInfo
                input.w3-input.w3-round(type="text" name="AcqInfo" value=p.AcqInfo)
                label Classifier
                input.w3-input.w3-round(type="text" name="Classifier" value=p.Classifier)
                label ScopeContent
                input.w3-input.w3-round(type="text" name="ScopeContent" value=p.ScopeContent)
                label Terms
                input.w3-input.w3-round(type="text" name="Terms" value=p.Terms)
                label DocumentalTradition
                input.w3-input.w3-round(type="text" name="DocumentalTradition" value=p.DocumentalTradition)
                label DocumentalTypology
                input.w3-input.w3-round(type="text" name="DocumentalTypology" value=p.DocumentalTypology)
                label Marks
                input.w3-input.w3-round(type="text" name="Marks" value=p.Marks)
                label Monograms
                input.w3-input.w3-round(type="text" name="Monograms" value=p.Monograms)
                label Stamps
                input.w3-input.w3-round(type="text" name="Stamps" value=p.Stamps)
                label Inscriptions
                input.w3-input.w3-round(type="text" name="Inscriptions" value=p.Inscriptions)
                label Signatures
                input.w3-input.w3-round(type="text" name="Signatures" value=p.Signatures)
                label Appraisal
                input.w3-input.w3-round(type="text" name="Appraisal" value=p.Appraisal)
                label AppraisalElimination
                input.w3-input.w3-round(type="text" name="AppraisalElimination" value=p.AppraisalElimination)
                label AppraisalEliminationDate
                input.w3-input.w3-round(type="text" name="AppraisalEliminationDate" value=p.AppraisalEliminationDate)
                label Accruals
                input.w3-input.w3-round(type="text" name="Accruals" value=p.Accruals)
                label Arrangement
                input.w3-input.w3-round(type="text" name="Arrangement" value=p.Arrangement)
                label AccessRestrict
                input.w3-input.w3-round(type="text" name="AccessRestrict" value=p.AccessRestrict)
                label UseRestrict
                input.w3-input.w3-round(type="text" name="UseRestrict" value=p.UseRestrict)
                label PhysLoc
                input.w3-input.w3-round(type="text" name="PhysLoc" value=p.PhysLoc)
                label OriginalNumbering
                input.w3-input.w3-round(type="text" name="OriginalNumbering" value=p.OriginalNumbering)
                label PreviousLoc
                input.w3-input.w3-round(type="text" name="PreviousLoc" value=p.PreviousLoc)
                label LangMaterial
                input.w3-input.w3-round(type="text" name="LangMaterial" value=p.LangMaterial)
                label PhysTech
                input.w3-input.w3-round(type="text" name="PhysTech"  value=p.PhysTech)
                label OtherFindAid
                input.w3-input.w3-round(type="text" name="OtherFindAid" value=p.OtherFindAid)
                label ContainerTypeTerm
                input.w3-input.w3-round(type="text" name="ContainerTypeTerm" value=p.ContainerTypeTerm)
                label OriginalsLoc
                input.w3-input.w3-round(type="text" name="OriginalsLoc" value=p.OriginalsLoc)
                label AltFormAvail
                input.w3-input.w3-round(type="text" name="AltFormAvail" value=p.AltFormAvail)
                label RelatedMaterial
                input.w3-input.w3-round(type="text" name="RelatedMaterial" value=p.RelatedMaterial)
                label Note
                input.w3-input.w3-round(type="text" name="Note" value=p.Note)
                label AllowTextualContentInference
                input.w3-input.w3-round(type="text" name="AllowTextualContentInference" value=p.AllowTextualContentInference)
                label TextualContent
                input.w3-input.w3-round(type="text" name="TextualContent" value=p.TextualContent)
                label RetentionDisposalDocumentState
                input.w3-input.w3-round(type="text" name="RetentionDisposalDocumentState" value=p.RetentionDisposalDocumentState)
                label ApplySelectionTable
                input.w3-input.w3-round(type="text" name="ApplySelectionTable" value=p.ApplySelectionTable)
                label RetentionDisposalPolicy
                input.w3-input.w3-round(type="text" name="RetentionDisposalPolicy" value=p.RetentionDisposalPolicy)
                label RetentionDisposalReference
                input.w3-input.w3-round(type="text" name="RetentionDisposalReference" value=p.RetentionDisposalReference)
                label RetentionDisposalClassification
                input.w3-input.w3-round(type="text" name="RetentionDisposalClassification" value=p.RetentionDisposalClassification)
                label RetentionDisposalPeriod
                input.w3-input.w3-round(type="text" name="RetentionDisposalPeriod" value=p.RetentionDisposalPeriod)
                label RetentionDisposalApplyDate
                input.w3-input.w3-round(type="text" name="RetentionDisposalApplyDate"  value=p.RetentionDisposalApplyDate)
                label RetentionDisposalFinalDestination
                input.w3-input.w3-round(type="text" name="RetentionDisposalFinalDestination" value=p.RetentionDisposalFinalDestination)
                label RetentionDisposalObservations
                input.w3-input.w3-round(type="text" name="RetentionDisposalObservations" value=p.RetentionDisposalObservations)
                label DescRules
                input.w3-input.w3-round(type="text" name="DescRules" value=p.DescRules)
                label Revised
                input.w3-input.w3-round(type="text" name="Revised" value=p.Revised)
                label Published
                input.w3-input.w3-round(type="text" name="Published" value=p.Published)
                label Available
                input.w3-input.w3-round(type="text" name="Available" value=p.Available)
                label Highlighted
                input.w3-input.w3-round(type="text" name="Highlighted" value=p.Highlighted)
                label Creator
                input.w3-input.w3-round(type="text" name="Creator" value=p.Creator)
                label Created
                input.w3-input.w3-round(type="text" name="Created" value=p.Created)
                label Username
                input.w3-input.w3-round(type="text" name="Username" value=p.Username)
                label ProcessInfoDate
                input.w3-input.w3-round(type="text" name="ProcessInfoDate" value=p.ProcessInfoDate)
                label OtherDescriptiveData
                input.w3-input.w3-round(type="text" name="OtherDescriptiveData" value=p.OtherDescriptiveData)
                label ligacoes
                input.w3-input.w3-round(type="text" name="ligacoes" value=p.ligacoes)
           
                button.w3-btn.w3-purple.w3-mb-2(type="submit") Register
                button.w3-btn.w3-purple.w3-mb-2
                    a(href="/processos") Return
            
        footer.w3-container.w3-purple
            h5 Generated by EngWeb2023 in #{d} 