extends layout

block append head
	title Gerir Users

block content
	.w3-card-4
		header.w3-container.w3-teal
				.w3-bar.w3-border-bottom
					.w3-bar-item
						h3 #[b Inquirição de Génere - Trabalho Prático de EngWeb2023]
					a.w3-bar-item.w3-button(href="/home" style="position:relative; top:5px;")
						.w3-cell-row
							.w3-cell
								i.fa.fa-solid.fa-house(style="color: #000000;")
							.w3-cell(style="width:80%")
								h6 #[b Início]
					a.w3-bar-item.w3-button(href="/retrieveAll" style="position:relative; top:5px;")
						.w3-cell-row
							.w3-cell
								i.fa.fa-solid.fa-folder-open(style="color: #000000;")
							.w3-cell(style="width:84%")
								h6 #[b Registos]
					if type == "Admin"
						a.w3-bar-item.w3-button(href="/processos/registo" style="position:relative; top:5px;")
							.w3-cell-row
								.w3-cell
									i.fa.fa-solid.fa-file-circle-plus(style="color: #000000;")
								.w3-cell(style="width:84%")
									h6 &nbsp; #[b Adicionar Registo]
					input.w3-bar-item.w3-input.w3-border(type="text" id="pesquisa_rapida" name="quickSearch" style="position:relative; left:10px; top:15px;" placeholder="Pesquisa Rápida (ENTER)")
				h3 &nbsp;&nbsp;&nbsp;#[b Gestão de #[i users]]
		.w3-panel.w3-leftbar.w3-border-blue.w3-pale-blue
			.w3-cell-row
				.w3-cell(style="width:90%")
					h3 #[b Nº de Users:] #{u.length} 
				.w3-cell
					a(href="/register")
						button.w3-btn.w3-pale-green.w3-border.w3-border-black.w3-hover-green.w3-round
							.w3-cell
								i.fa.fa-sharp.fa-solid.fa-user-plus.fa-2xl
							.w3-cell(style="width:84%")
								h4 &nbsp;&nbsp;#[b Criar Utilizador]
		.w3-container
			table.w3-table-all
				tr
					th Data de Criação
					th Nome
					th Username
					th Nível de Acesso
					th Ativo?
				
				each user in u
					tr
						td= user.dateCreated
						td= user.name
						td= user.username
						td= user.level
						if user.active == true
							td Sim
						else
							td Não
						td
							.w3-panel
								td 
									a(href="/edit/user/"+user.username)
										button.w3-btn.w3-blue.w3-mb-2.w3-border.w3-border-black.w3-hover-blue.w3-margin-right
											.w3-cell
												i.fa.fa-regular.fa-pen-to-square
											.w3-cell(style="width:84%")
												h6 &nbsp;&nbsp;Editar User
								td
									a(href="/delete/user/"+user.username)
										button.w3-btn.w3-red.w3-mb-2.w3-border.w3-border-black.w3-hover-red.w3-margin-right
											.w3-cell
												i.fa.fa-solid.fa-trash
											.w3-cell(style="width:84%")
												h6 &nbsp;&nbsp;Apagar User
								td
									form(action="/activate/user/"+user.username, method="POST")
										button.w3-btn.w3-pale-green.w3-mb-2.w3-border.w3-border-black.w3-hover-green.w3-margin-right(type="submit") 
											.w3-cell
												i.fa.fa-solid.fa-check
											.w3-cell(style="width:84%")
												h6 &nbsp;&nbsp;Ativar User
								td
									form(action="/deactivate/user/"+user.username, method="POST")
										button.w3-btn.w3-grey.w3-mb-2.w3-border.w3-border-black.w3-hover-black.w3-margin-right(type="submit")
											.w3-cell
												i.fa.fa-solid.fa-xmark
											.w3-cell(style="width:84%")
												h6 &nbsp;&nbsp;Desativar User
		footer.w3-container.w3-teal.w3-center
			h5 Gonçalo Braga, João Loureiro e Simão Barroso | Engenharia Web 2023 - Universidade do Minho
			h5 Generated for TP_EngWeb2023 in #{d}
		script.
			//pesquisa_rapida
			document.getElementById('pesquisa_rapida').addEventListener('keyup', function(event) {
				if (event.keyCode === 13) {
					event.preventDefault();
					var input = document.getElementById('pesquisa_rapida');
					var p = input.value;
					window.location.href = '/pesquisaRapida/' + p;
				}
			});
		