extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Process Number #{p.id}
    .w3-container
      table.w3-table-all
        tr
          th Id
          th Ligações
          th ScopeContent
          th Related Material 
        tr
            td= p.id
            td 
                each l in p.ligacoes
                    a(href="/processos/"+l)= l+"|"
            td= p.ScopeContent
            td= p.RelatedMaterial
            
    footer.w3-container.w3-teal
      h5 Generated for TP_EngWeb2023 in #{d}
    